# Pipfile

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"
system_packages = ["ttyd"]

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
bs4 = ">=0.0.2"
requests = ">=2.32.3"
httpx = "*"
rich = "*"
websockets = "*"

[dev-packages]
pyyaml = "*"
boto3 = "*"
botocore = "*"

[scripts]
serve = "python backend/server.py"
serve-container = "sh -c 'DIR=${PWD##*/} && docker buildx build --no-cache -t $DIR-web . && docker rm -f $DIR-web 2>/dev/null || true && docker run --name $DIR-web -p 80:80 -v ~/.aws:/root/.aws:ro $DIR-web'"
ship = "python deployment/manage.py ship"
secure = "python deployment/manage.py secure"
scrap = "python deployment/manage.py scrap"
