[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "python wrapper/server.py"
serve-container = "docker compose up --build --force-recreate"
ship = "./deployment/ship.sh"
scrap = "./deployment/scrap.sh"

[packages]
bs4 = ">=0.0.2"
requests = ">=2.32.3"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
rich = "*"

[requires]
python_version = "3.12"
system_packages = ["ttyd"]
